.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}

.user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-card {
    width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-picture {
    width: 350px; 
    height: 250px;
    border-radius: 50%;
    margin-bottom: 10px;
}

h2 {
    font-size: 18px;
    margin: 10px 0;
}

.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

.user-form {
    width: 500px;
    margin: 0 auto; 
    margin-top: 250px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-form .userForm-Title {
    font-size: 20px;
    margin-bottom: 20px;
}

.user-form .form-group {
    margin-bottom: 15px;
}

.user-form label {
    font-weight: bold;
}

.user-form .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.user-form .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.user-form .btn-primary:hover {
    background-color: #0056b3;
}