.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    height: calc(100vh - 50px);
    position: relative;
}

.button {
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #0074e4;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: #0050a2;
}

.video-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.video-banner {
    width: 100%;
    min-height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    position: absolute;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    text-align: center;
}

/* Additional styles for your content */
h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

.buttons {
    margin-top: 20px;
}