/* Set Navbar to stay fixed at the top */
.navbar {
    background-color: #0074e4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; /* Ensure Navbar is on top of other content */
}

.navbar-item {
    color: white;
    font-weight: bold;
}

.navbar-start {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px; /* Add padding to the left to avoid content under the Navbar */
}

.navbar-end {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px; /* Add padding to the right to avoid content under the Navbar */
}

.button {
    margin-left: 8px;
}
