.navbar {
    background-color: #0074e4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100; 
}

.navbar-item {
    color: white;
    font-weight: bold;
}

.navbar-start {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
}

.navbar-end {
    display: flex;
    justify-content: flex-end;
    padding-right: 16px; 
}

.button {
    margin-left: 8px;
}

.navbar-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    min-height: 100%; 
}

.navbar-image {
    max-height: 75px; 
}